*{
    padding: 0;
    margin: 0;
    margin-top: 0;
}

body{
    background-image: linear-gradient(to top,#fbc8d4 0%,#9795f0 100%);
}


.Galeria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Galeria1-5{
    height: 100%;
    align-items: center;
    text-align: center;
}

.GaleriaPrincipal{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-left: 0px;
    justify-content: center;
}

.MenuPrincipal
{
    position: fixed;
    top: -10px;
    /* left: 20px; */
    bottom: 0px;
    /* border-radius: 3%; */
    box-sizing: initial;
    width: 0px;
    transition: width 1s;
    overflow: hidden;
    background-color: #5C38A5;
    margin-top: 10px;
}

.MenuPrincipal.activo{
    width: 412px;
}

.MenuPrincipal ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
}

.MenuPrincipal ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.MenuPrincipal ul li.listaactiva
{
    background: white;
}

.MenuPrincipal ul li:hover
{
    background: white;
}

.MenuPrincipal ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:black;
}

/*Cambiar el color al tener la lista activa */
.MenuPrincipal ul li.listaactiva a 
{
    color:black;
}


.MenuPrincipal ul li a .icono
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.MenuPrincipal ul li a .titulo
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.barrita{
    position: fixed;
    top: -10px;
    /* right: 20px; */
    margin-left: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.barrita icono-barra{
    position: absolute;
    display: none;
}

.barrita icono-barra.openm,
.barrita.activo icono-barra.closem
{
    display: block;
}

.barrita icono-barra.closem,
.barrita.activo icono-barra.openm
{
    display: none;
}

#TextoPrincipal{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    padding: 2px;
}

iframe{
    width:20px;
}

.Sub
{
    position: sticky;
    top: 0px;
    background-color: #5C38A5;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    max-width: 600px;
}

.SubGaleria
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Apartado1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}