
.Galeria1
{
    width: 520px;
    cursor: zoom-in;
}

.Galeria1-1
{
    width: 95%;
    cursor: zoom-in;
}

#Galeria2
{
    width: 520px;
}

#Galeria3
{
    width: 820px;
}

#Galeria4
{
    width: 850px;
}


#Galeria5
{
    width: 850px;
}

#Galeria6{
    width: 800px;
}


#Galeria7{
    width: 850px;
}


#Galeria8{
    width: 600px;
}


#Galeria9{
    width: 900px;
}


#Galeria10{
    width: 850px;
}


#Galeria11{
    width: 90%;
}
/* Media Screen */

@media only screen and (max-width: 700px){


    .Galeria1
    {
        width: 150px;
    }

    
    #Galeria2
    {   
        width: 150px;
    }

    #Galeria3
{
    width: 250px;
}

#Galeria4
{
    width: 250px;
}


#Galeria5
{
    width: 200px;
}

#Galeria6{
    width: 200px;
}

#Galeria7{
    width: 200px;
}

#Galeria8{
    width: 200px;
}

#Galeria9{
    width: 200px;
}

#Galeria10{
    width: 200px;
}

#Galeria11{
    width: 200px;
}

}

.modal-container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
    background-color: #003059;
}

.modal{
    background-color: cadetblue;
	width: 600px;
    max-width: 100%;
	border-radius: 8%;
	padding: 30px 50px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align:center;
}

.show{
	pointer-events: auto;
	opacity: 3;
}
