body
{
    background-image: linear-gradient(to top, #2d7e67 0%, #8aa7b8 100%);
    text-align: center;
}

#Titulo
{
    color:white;
    text-align: center;
}

#Presentacion
{
    width: 300px;
    height: 580px;
    margin: auto;
    display: block;
}
