@media only screen and (max-width: 700px) {
	
	/*Div principales*/
	
	.grid{
	 background-color: black;
	}

	.menusito li a{
		color:grey;
	}
	
	#imglg{
	margin-left: 30px;
	}

	#img{
		margin-top: 20px;
	}

    #imgu{
        margin-left: 100px;
    }


    /*Juego del Ahorcado*/

    #Negroh1{
        margin-right: 120px;
        margin-top: 50px;
    }

    #Intento{
        margin-left: 150px;
        margin-right: 150px;
    }

    #Tjuego{
        margin-left: 170px;
    }

    #Palabraad{
        margin-left: 200px;
    }

    #Adivinar{
        margin-left: 150px;
    }

    .Flechamedio2{
        margin-left: 200px;
    }

  }
