.Dig
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

body
{
    background-color: #54084D;
}


img
{
 max-width: 30%;
 padding-top: 5px;
}

h1
{
    color: white;
    text-align: center;
}

/*Menu de opciones*/

.MenuPrincipal
{
    position: fixed;
    top: -10px;
    /* left: 20px; */
    bottom: 0px;
    /* border-radius: 3%; */
    box-sizing: initial;
    width: 0px;
    transition: 1s;
    overflow: auto;
    overflow-x: hidden;
    background-color: #5C38A5;
    margin-top: 10px;
    z-index: 9999;
}


.MenuPrincipal.activo{
    width: 412px;
}

.MenuPrincipal ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
}

.MenuPrincipal ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.MenuPrincipal ul li.listaactiva
{
    background: white;
}

.MenuPrincipal ul li:hover
{
    background: white;
}

.MenuPrincipal ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:black;
}

/*Cambiar el color al tener la lista activa */
.MenuPrincipal ul li.listaactiva a 
{
    color:black;
}


.MenuPrincipal ul li a .icono
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.MenuPrincipal ul li a .titulo
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.barrita{
    position: fixed;
    top: -10px;
    margin-left: 8px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 9999;
    padding: 10npx;
}

.barrita icono-barra{
    position: absolute;
    display: none;
}

.barrita icono-barra.openm,
.barrita.activo icono-barra.closem
{
    display: block;
}

.barrita icono-barra.closem,
.barrita.activo icono-barra.openm
{
    display: none;
}


.Sub
{
    position: sticky;
    top: 0px;
    background-color: #5C38A5;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    max-width: 600px;
}

.SubGaleria
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Submenu
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.Submenu:hover
{
    background-color: #9795f0;
    border-radius: 20px;
}

.Submenus
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.Submenus:hover
{
    background-color: #9795f0;
    border-radius: 20px;
}

.Submenus1
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.Submenus1:hover
{
    background-color: #9795f0;
    border-bottom-left-radius: 20px;
}

#AbrirM
{
    position: relative;
    display: block;
    white-space: normal;
    text-align: center;
}


@media only screen and (max-width: 600px)
{
img
{
 max-width: 100%;
 
}

}

