body{
    background-image: url("https://wallpapers.com/images/hd/mountain-moon-and-stars-1ud2815d5o3o65ad.jpg");
    background-repeat: no-repeat;
}

p
{
    color:white;
    font-size: 23px;
}

h1{
    color: white;
    text-align: center;
}

.video
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

a
{
    text-decoration: none;
}

button {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  button:hover, button:focus {
    color: #fff;
    outline: 0;
  }

  .fourth {
    border-color: #d30fc3;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #d30fc3 50%, transparent 50%);
    background-image: linear-gradient(45deg, #d30fc3 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }